$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.addTask-cn {
  position: relative;
  margin-top: 10px;
  width: 280px;
  background-color: #1C3C38;
  border-radius: 10px;
  width: 500px;
}

.addTask-cn #newTaskInput {
  font-family: inherit;
  width: 100%;
  height: 56px;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  color: $white;
  background: transparent;
  transition: border-color 0.2s;
  padding-left: 15px;
  &::placeholder {
    display: none;
  }

  &:placeholder-shown ~ .addTask-label {
    font-size: 1.1rem;
    cursor: text;
  }
}

.addTask-cn .addTask-label{
  background-color: #11998e00;
  padding: 0;
  position: absolute;
  left: 20px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.addTask-cn #newTaskInput:focus,
.addTask-cn #newTaskInput:not(:placeholder-shown) {
  ~ .addTask-label {
    background-color: rgb(217, 217, 217);
    height: 100%;
    width: 100px;
    padding: 0 10px;
    position: absolute;
    display: block;
    left: 80%;
    transition: 0.2s;
    font-size: 1rem;
    color: #1C3C38;
    cursor: pointer;
  }
  font-weight: 700;
  border-width: 3px;
  // border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;

}
/* reset input */
.task-cn #newTaskInput{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
// body {
//   font-family: 'Poppins', sans-serif; 
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   font-size: 1.5rem;
//   background-color:#222222;
// }