/* $background-color: #10332E;
$accent1-color: #1C3C38;
$white2-color: #D9D9D9; */

/* 1C3C38 */
* {
    box-sizing: border-box;
    margin: 0;
    color: rgb(218, 218, 218);
    font-family: 'GFS Didot', serif;
}
button {
    
}
body {
  background-color: #10332E;
}
.center {
    margin: auto;
}
.flex { 
    display: flex;
    align-items: center;

}
.vert {
    flex-direction: column;
}


input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;

    display: grid;
    place-content: center;
}

.header {
    padding: 20px;
    justify-content: space-between;
    background-color: #10332E;

  border-radius: 2px;
  border-bottom: 2px solid #1C3C38;
  /* box-shadow: 0px 1px 10px #000000; */
}
.header .message {
    opacity: 0.8;
   
}


.newTask-cn {
    // height: 20px;
    // width: fit-content;
    // margin: 40px auto;
    // position: relative;

    position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}


.completed {
    opacity: 0.5;
    text-decoration: line-through;
}
.task-cn {
    /* border: 1px solid black; */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.task-cn .left-cn {
    gap: 16px;
}
.task-cn .right-cn {
    align-items: flex-start;
}