body {
    background-image: url("../routes/login/leavesbackground2.jpeg");
    background-size: auto 100vw;
    background-repeat: no-repeat;
    height: 100vh;
    width: 1100vw;
    // transition: all 250ms ease-in-out, transform 150ms ease;
}
@media all and (max-width: 900px) {
    body {
        background-size: contain;
    }
}
.backgroundfilter {
    position: absolute;
    background-color: #0f1c1ac3;
    width: 100vw;
    height: 100vh;
}
.login-cn {
    gap: 20px;
    max-width: 350px;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
}
.login-title {
    margin-bottom: 10px;
}
.login-cn button {
    padding: 0.7rem 2rem;
    gap: 12px;
    width: 100%;
    justify-content: center;
}
.continuewith {
    background-color: rgba(255, 255, 255, 0.948);
}
.email-btn {
    background-color: #0edeb8;
    // border: 1px solid #27a798;
    font-weight: 800;
    color: #102c29;
}
.email-btn:hover {
    background-color: #11b597;
}
.login-cn img {
    height: 20px;
}
.login-cn .line-divider {
    margin: 10px;
    position: relative;
}
.line-divider p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -960%;
    background-color: #10332E;
    width: 40px;
    text-align: center;
}
.login-cn input {
    padding: 0.7rem 1rem;
    gap: 12px;
    width: 100%;
    justify-content: center;
}
.login-cn label {
    font-size: 14px;
    margin-right: auto;
    margin-bottom: -10px;
}

