body {
    background-color: #0c2420;
}
.backgroundfilter {
    position: absolute;
    background-color: #0f1c1a91;
    width: 100vw;
    height: 100vh;
}
// .card-wrapper.behind {
//     background-color: #06221f;
//     transform: rotate(-6deg) scale(0.9) translate(-50px);
// }
.card-wrapper {
    background-color: #09302c;
    padding: 40px;
    gap: 20px;
    max-width: 400px;
    border-radius: 10px;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
}
.login-title {
    margin-bottom: 10px;
}
.card-wrapper button {
    padding: 0.7rem 2rem;
    gap: 12px;
    width: 100%;
    justify-content: center;
}
li {
    list-style: none;
    width: 100%;
}
.continuewith {
    background-color: rgba(255, 255, 255, 0.948);
}
input[type="submit"].email-btn {
    background-color: #0edeb8;
    // border: 1px solid #27a798;
    font-weight: 800;
    color: #102c29;
}
input[type="submit"].email-btn a {
    color: #102c29;
    text-decoration: none;
}
input[type="submit"].email-btn:hover {
    background-color: #11b597;
}
.card-wrapper img {
    height: 20px;
}
.card-wrapper .line-divider {
    margin: 10px;
    position: relative;
}
.line-divider p {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -960%;
    background-color: #10332E;
    width: 40px;
    text-align: center;
}
.card-wrapper input {
    padding: 0.7rem 1rem;
    gap: 12px;
    width: 100%;
    justify-content: center;
}
.card-wrapper label {
    font-size: 14px;
    margin-right: auto;
}
.card-wrapper li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}









// .form-wrapper {
// 	animation: hideLayer .3s ease-out forwards;
// }

// .form-wrapper.is-active {
// 	animation: showLayer .3s ease-in forwards;
// }

// @keyframes showLayer {
// 	50% {
// 		z-index: 1;
// 	}
// 	100% {
// 		z-index: 1;
// 	}
// }

// @keyframes hideLayer {
// 	0% {
// 		z-index: 1;
// 	}
// 	49.999% {
// 		z-index: 1;
// 	}
// }




// #login-card {
// 	animation: hideLogin .3s ease-out forwards;
// }

// #login-card.is-active {
// 	animation: showLogin .3s ease-in forwards;
// }

// @keyframes showLogin {
// 	0% {
// 		background: #d7e7f1;
// 		transform: translate(40%, 10px);
// 	}
// 	50% {
// 		transform: translate(0, 0);
// 	}
// 	100% {
// 		background-color: #fff;
// 		transform: translate(35%, -20px);
// 	}
// }

// @keyframes hideLogin {
// 	0% {
// 		background-color: #fff;
// 		transform: translate(35%, -20px);
// 	}
// 	50% {
// 		transform: translate(0, 0);
// 	}
// 	100% {
// 		background: #d7e7f1;
// 		transform: translate(40%, 10px);
// 	}
// }

// #signup-card{
// 	animation: hideSignup .3s ease-out forwards;
// }

// #signup-card.is-active {
// 	animation: showSignup .3s ease-in forwards;
// }

// @keyframes showSignup {
// 	0% {
// 		background: #d7e7f1;
// 		transform: translate(-40%, 10px) scaleY(.8);
// 	}
// 	50% {
// 		transform: translate(0, 0) scaleY(.8);
// 	}
// 	100% {
// 		background-color: #fff;
// 		transform: translate(-35%, -20px) scaleY(1);
// 	}
// }

// @keyframes hideSignup {
// 	0% {
// 		background-color: #fff;
// 		transform: translate(-35%, -20px) scaleY(1);
// 	}
// 	50% {
// 		transform: translate(0, 0) scaleY(.8);
// 	}
// 	100% {
// 		background: #d7e7f1;
// 		transform: translate(-40%, 10px) scaleY(.8);
// 	}
// }





.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}
